{% include '/common/header.twig' %}

	<section class="content about">
		<p>Betterlighterpack is a lightweight, no-nonsense list keeping site with three main improvements over the original Lighterpack:</p>
		<ul>
			<li><strong>Responsive design</strong> Yes, you'll be able to edit your lists on the shitter now.</li>
			<li><strong>Community curated gear database</strong> We'll give you a suggestion weight if we recognize the item you're adding.</li>
			<li><strong>Tagging & searching</strong> Tag your lists with a name, location, time or whatever you want. Global search will expose all lists to whoever is looking for those tags.</li>
		</ul>
		<p>That said, I did not transfer all of LighterPack's features, because I consider some of them obsolete.</p><p>If you think anything important is still missing, let me know and I'll either add it or give you my reasoning for dropping it.</p>
	</section>

{% include '/common/footer.twig' %}
