{% include '/common/header.twig' %}

    <section class="content">
        <form action="/search" method="post" class="search">
            <input type="text" name="search" placeholder="Search for a trail, country, user, piece of gear, ..." />
            <input type='submit' value='Search' />
        </form>

        <p>or</p>
        <ul class="menu">
            <li><a href="/browse/random">Browse a random list</a></li>
            <li><a href="/about">Find out what this site is about</a></li>
        </ul>
    </section>

{% include '/common/footer.twig' %}
