{% include '/common/header.twig' %}

	<section class="content">

        <h1>Your lists</h1>
		{% if lists is defined and lists is not empty%}
			<ul class="lists">
				{% for list in lists %}
					<li class="list-item"><a class="browse-link" href="/browse/{{ list.ls_id }}">{{ list.ls_name }}</a><a class="delete-link" href="/delete/{{ list.ls_key }}">delete</a></li>
			  	{% endfor %}
			  	<li><a href="#" class="create-list">Start new list</a></li>
			</ul>

		{% else %}
			
			<p>You don't have any lists</p>

		{% endif %}

		<hr>

		<h2>Import from LighterPack</h2>
		<form action="/import" method="post" class="import">
            <input type="text" name="import" placeholder="Enter the Lighterpack list code. E.g: 420y6s" />
            <input type='submit' value='Import' />
        </form>
	</section>

{% include '/common/footer.twig' %}
